h1
    {
        color: darkgrey;
        font-size: 40pt;

    }

a
{
    font-size: 20pt;
    padding-right: 30px;
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    color:pink;
    font-weight: 600;
}

a:hover
    {
        color: dimgrey;
        background-color: lightpink;
    }